@import 'variables';
header {
    display: flex;
    height: 62px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 5%;
    border-bottom: 2px solid #c7c7c7;
    margin-bottom: 40px;
    .logo {
        width: 119px;
        height: 30px;
    }
    .shopping {
        position: relative;
        .shopping-cart {
            width: 20px;
            height: 17px;
        }
        .circle {
            position: absolute;
            left: 10px;
            top: 10px;
            width: 12px;
            height: 12px;
            background: $color-primary;
            border-radius: 16px;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            .number {
                width: 7px;
                height: 12px;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 10px;
            }
        }
        .hidden {
            display: none;
        }
    }
}