@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import "variables";
@import "reset";
@import 'header';
@import "responsive";
@import 'footer';
@import 'content';
@import 'arrow';
@import 'responsive-header';
@import "responsive-elements";
p {
    h1 {
        color: $color-primary;
        background-color: #333;
    }
    &.error {
        color: $color-grey1;
    }
    &::after {
        content: "";
        display: block;
        clear: both;
    }
}


/* em vez de criar varias classes que possuem um color e um background crie um mixin*/

@mixin button-style($color,
$background) {
    color: $color;
    background-color: $background;
    border: 1px solid $color;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-laranja {
    @include button-style($color-primary,
    #fff);
}

.btn-preto {
    @include button-style($color-primary,
    $color-black);
}